hr{
    color: rgb(101, 180, 96);
    background-color: rgb(101, 180, 96);
}
.about-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.section-container{
    background-color: rgb(101, 180, 96);
    color: white;
}
.hero{
    align-items: center;
}