.navbar{
    background-color: rgb(101, 180, 96);
}
.navbar .logo p{
    font-size: large;
    font-weight: bold;
    color: white;
}
.navbar .logo img{
    max-width: 100%;
    height: auto;
}
.navbar a{
    color: white;
}
.dropdown-menu a, li:hover{
    color: rgb(101, 180, 96);
}
a > p{
    color: white
}

.selected{
    color: rgb(74, 114, 71);
}
.unselected{
    color: white;
}